# screengrabber.service
[Unit] 
Description= Grab a Screenshot 
Documentation= https://github.com/INSTARLab/KVM-Screen-Grabber

[Service] 
Type= simple 
ExecStart=/screengrabs/screengrabber.sh
